In [4]:
import numpy as numpy
import pandas as pd
df = pd.read_csv('weather.csv').head()
df

   MONTH  DAY  TIME  TEMP  PRESSURE
0      1    1     1   6.8     10207
1      1    1     2   5.8     10214
2      1    1     3   5.7     10220
3      1    1     4   6.0     10225
4      1    1     5   4.5     10230

In [5]:
df['TEMP']

0    6.8
1    5.8
2    5.7
3    6.0
4    4.5
Name: TEMP, dtype: float64

In [6]:
df['TEMP'][1]

5.8

In [7]:
# don't use this syntax
df.TEMP

0    6.8
1    5.8
2    5.7
3    6.0
4    4.5
Name: TEMP, dtype: float64

In [8]:
# transpose
dft = df.T
dft

                0        1        2        3        4
MONTH         1.0      1.0      1.0      1.0      1.0
DAY           1.0      1.0      1.0      1.0      1.0
TIME          1.0      2.0      3.0      4.0      5.0
TEMP          6.8      5.8      5.7      6.0      4.5
PRESSURE  10207.0  10214.0  10220.0  10225.0  10230.0