In [ ]:
import pandas as pd

In [ ]:
pd.read_csv("nba.csv")
# pandas converts number columns with NaN to flooting point...

# Shared Methods and Attributes

In [ ]:
nba = pd.read_csv("nba.csv")

In [ ]:
nba.head(7)
nba.tail(2)

In [ ]:
nba.index

In [ ]:
nba.values

In [ ]:
nba.shape

In [ ]:
nba.dtypes

In [ ]:
nba.columns

In [ ]:
#index and columns
nba.axes

In [ ]:
nba.info()

In [ ]:
nba.get_dtype_counts()

# Differences between Shared methods

In [ ]:
rev = pd.read_csv("revenue.csv", index_col="Date")
rev

In [ ]:
s = pd.Series([1,2,3])
s

In [ ]:
s.sum()

In [ ]:
rev.sum()
rev.sum(axis = 0) # or axis = "index"
rev.sum(axis = 1) # axis = "colums"

# Select One Column from a `DataFrame`

In [ ]:
# extra single column as a series
# only works when columns don't have spaces! so no likey, can't be sure it'll always work.
nba.Name
nba.Number
nba.Salary

output = None

In [ ]:
# extra single column as a series
# can have spaces!
nba["Name"]
nba["Number"]
nba["Salary"]

In [ ]:
type(nba["Name"])

In [ ]:
nba["Name"].head()

# Select Two or More Columns from A `DataFrame`

In [ ]:
nba.head(3)

In [ ]:
# create new fram! select column order.
nba[["Team","Name"]].head(3)
nba[["Number","College"]]
nba[["Salary","Team","Name"]].tail()

In [ ]:
select = ["Salary","Team","Name"]
nba[select]

# Add New Column to `DataFrame`

In [ ]:
nba.head(3)

In [ ]:
# nba["Sport"] will error, no column
nba["Sport"] = "Basketball"
nba.head(3)

In [ ]:
nba["League"] = "National Basketball Association"
nba.head(3)

In [ ]:
#reset 
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba.insert(3, column = "Sport", value = "Basketball")

In [ ]:
nba.head()

In [ ]:
nba.insert(7, column = "League", value = "national Basketball Association")

In [ ]:
nba.head()

# Broadcasting Operations

In [ ]:
#reset 
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba["Age"].add(5)
nba["Age"] + 5

nba["Salary"].sub(5000000)
nba["Salary"] - 5000000

nba["Weight"].mul(0.453592)
nba["Weight"] * 0.453592
nba["Weight in Kilograms"] = nba["Weight"] * 0.453592

In [ ]:
nba.head()

In [ ]:
nba["Salary"].div(1000000)
nba["Salary"] / 1000000
nba["Salary in Millions"] = nba["Salary"] / 1000000

In [ ]:
nba.head()

# A Review of the `.value_counts()` Methods

In [ ]:
nba = pd.read_csv("nba.csv")
nba.head()

In [ ]:
nba["Team"].value_counts()
nba["Position"].value_counts().head(1)
nba["Weight"].value_counts().tail()
nba["Salary"].value_counts()

# Drop Rows with Null Values

In [ ]:
nba = pd.read_csv("nba.csv")
nba

In [ ]:
# removes any rows that have a NULL value. removes whole row.
nba.dropna()
# remove any rows where all the values are NULL.
nba.dropna(how = "all", inplace = True)

In [ ]:
nba

In [ ]:
#drop any columns that have a NULL value
nba.dropna(axis = 1) # or axis = "columns"

In [ ]:
# only remove a row if there is a NULL value in the "Salary" column
nba.dropna(subset = ["Salary"])

# Fill in Null Values with the `.fillna()` Method

In [ ]:
nba = pd.read_csv("nba.csv")
nba

In [ ]:
# problems with changin all columns to 0
nba.fillna(0)

In [ ]:
nba["Salary"].fillna(0, inplace = True)
nba.head()

In [ ]:
nba["College"].fillna("No College", inplace = True)
nba.head()

# The `astype()` Method

In [ ]:
#requires series to not have NULl values
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"].fillna(0, inplace = True)
nba["College"].fillna("None", inplace = True)
nba

In [ ]:
# object = string
nba.dtypes
nba.info() # gives extra info!

In [ ]:
nba["Salary"] = nba["Salary"].astype("int")

In [ ]:
nba.head()

In [ ]:
nba["Number"] = nba["Number"].astype("int")
nba["Age"] = nba["Age"].astype("int")
nba.head()

In [ ]:
# float, int, object, category (m, f)
nba["Position"].nunique()

In [ ]:
nba["Position"] = nba["Position"].astype("category")
nba.head()

In [ ]:
nba["Team"].nunique() # 30 is still low enough for categories
nba["Team"] = nba["Team"].astype("category")
nba.head()

* rerun .info() to see reduction in memory usage

# Sort a `DataFrame` with the `.sort_values()` Method, Part I

In [ ]:
nba = pd.read_csv("nba.csv")
nba

In [ ]:
nba.sort_values("Name", ascending = False)
nba.sort_values("Age", ascending = False)
nba.sort_values("Salary", ascending = False, inplace = True)
nba.head()

In [ ]:
nba.sort_values("Salary").tail()
nba.sort_values("Salary", na_position = "first")

# Sort a `DataFrame` with the `.sort_values()` Method, Part II

In [ ]:
nba = pd.read_csv("nba.csv")
nba

In [ ]:
nba.sort_values(["Team","Name"], ascending = [True, False], inplace = True)
nba.head()

# Sort a `DataFrame` with the `.sort_index()` Method

In [ ]:
nba = pd.read_csv("nba.csv")
nba

In [ ]:
nba.sort_values(["Number","Salary","Name"], inplace = True)
nba.tail()

In [ ]:
nba.sort_index(ascending = False, inplace = True)
nba.head()

# Rank Values with the `.rank()` Method

In [ ]:
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"] = nba["Salary"].fillna(0).astype("int")
nba

In [ ]:
nba["Salary Rank"] = nba["Salary"].rank(ascending = False).astype("int")
nba.head()

In [ ]:
nba.sort_values(by = "Salary", ascending = False)