In [ ]:
import pandas as pd
import datetime as dt

# Review of Python's `datetime` Module

In [ ]:
someday = dt.date(2016, 6, 6)
someday

In [ ]:
someday.year
someday.month
someday.day

In [ ]:
# defaults to midnight for time if not included
dt.datetime(2010,1,10)

In [ ]:
# 8:13:57
sometime = dt.datetime(2010, 1, 10, 8, 13, 57)
sometime

In [ ]:
sometime.year
sometime.month
sometime.day
sometime.hour
sometime.minute
sometime.second

In [ ]:
# make str to make readible
str(dt.datetime(2010, 1, 10, 8, 13, 57))

In [ ]:
str(someday)

# The `pandas Timestamp` Object

In [ ]:
pd.Timestamp('2015-03-31')

In [ ]:
pd.Timestamp('2015/03/31')

In [ ]:
pd.Timestamp('2013, 11, 04')

In [ ]:
pd.Timestamp('20131104')

In [ ]:
pd.Timestamp('1/1/2015')

In [ ]:
pd.Timestamp("2021-03-08 8:35:15")
pd.Timestamp("2021-03-08 6:35:15 PM")

In [ ]:
pd.Timestamp(dt.date(2015, 1, 1))

In [ ]:
pd.Timestamp(dt.datetime(2015, 1, 1, 21, 35, 22))

# The `pandas DatetimeIndex` Object

In [ ]:
dates = ["2016-01-02", "2016-04-12", "2009-09-07"]
pd.DatetimeIndex(dates)

In [ ]:
type(pd.DatetimeIndex(dates))

In [ ]:
dates = [dt.date(2016, 1, 10), dt.date(1994, 6, 13), dt.date(2003, 12, 29)]
dtIndex = pd.DatetimeIndex(dates)
dtIndex

In [ ]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

# The `pd.to_datetime()` Method

In [ ]:
pd.to_datetime("2001-04-19")
pd.to_datetime(dt.date(2015, 1, 1))
pd.to_datetime(dt.datetime(2015, 1, 1, 14, 35, 20))

In [ ]:
# puts the list into a DatetimeIndex
# single year, assumes 1/1
pd.to_datetime(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])

In [ ]:
# Series default ot string
times = pd.Series(["2015-01-03", "2014/02/08", "2016", "July 4th, 1996"])
times

In [ ]:
#convert string types to datetime type
pd.to_datetime(times)

In [ ]:
dates = pd.Series(["July 4th, 1996", "10/04/1991", "Hello", "2015-02-31"])
dates

In [ ]:
# convert values if able, else NaT (Nat a Time)
pd.to_datetime(dates, errors = "coerce")

In [ ]:
# unix times
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705])

In [ ]:
pd.to_datetime([1349720105, 1349806505, 1349892905, 1349979305, 1350065705], unit = "s")

# Create Range of Dates with the `pd.date_range()` Method, Part 1

In [ ]:
times = pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "D")
times

In [ ]:
type(times)

In [ ]:
type(times[0])

In [ ]:
times[0]

In [ ]:
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "2D")

In [ ]:
# business days
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "B")

In [ ]:
# W ( week, defatul starts on Sun)
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "W") #W-SUN
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "W-FRI")

In [ ]:
# Hour
pd.date_range(start = "2016-01-01", end = "2016-01-10", freq = "H")

In [ ]:
# M for Month Ends
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "M")

In [ ]:
# MS for Months Start
pd.date_range(start = "2016-01-01", end = "2016-12-31", freq = "MS")

In [ ]:
# A for Year End (A-DEC)
pd.date_range(start = "2016-01-01", end = "2050-01-01", freq = "A")

# Create Range of Dates with the `pd.date_range()` Method, Part 2

In [ ]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "D")

In [ ]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "B")

In [ ]:
pd.date_range(start = "2012-09-09", periods = 25, freq = "6H")

# Create Range of Dates with the `pd.date_range()` Method, Part 3

In [ ]:
pd.date_range(end = "1999-12-31", periods = 20, freq = "D")

# The `.dt` Accessor

In [ ]:
bunch_of_dates = pd.date_range(start = "2000-01-01", end = "2010-12-31", freq = "24D")
bunch_of_dates

In [ ]:
s = pd.Series(bunch_of_dates)
s.head()

In [ ]:
s.dt

In [ ]:
s.dt.day.head()

In [ ]:
s.dt.month.head()

In [ ]:
s.dt.weekday

In [ ]:
mask = s.dt.is_quarter_start
mask

In [ ]:
s[mask]

# Import Financial Data Set with `pandas_datareader` Library

In [ ]:
import pandas as pd
import datetime as dt
from pandas_datareader import data

In [ ]:
company = "MSFT"
start = "2010-01-01"
end = "2017-01-01"

stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

In [ ]:
stocks.values
stocks.columns
stocks.index
stocks.axes #columns and index

# Selecting Rows from a `DataFrame` with a `DatetimeIndex`

In [ ]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

In [ ]:
stocks.loc["2014-03-04"]
stocks.iloc[300]

In [ ]:
stocks.loc["2016-01-01"]

In [ ]:
stocks.loc["2013-10-01" : "2013-10-07"]

In [ ]:
# pull specifc date each year
birthdays = pd.date_range(start = "1990-06-06", end = "2020-12-31", freq = pd.DateOffset(years = 1))
birthdays

In [ ]:
mask = stocks.index.isin(birthdays)
mask

In [ ]:
stocks.loc[mask]
stocks[mask]

# `Timestamp` Object Attributes

In [ ]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

In [ ]:
someday = stocks.index[500]
someday

In [ ]:
someday.day

In [ ]:
someday.month

In [ ]:
someday.weekday

In [ ]:
someday.is_month_end

In [ ]:
someday.is_month_start

In [ ]:
stocks.insert(0, "Day of Week", stocks.index.weekday)

In [ ]:
stocks

In [ ]:
stocks.insert(1, "Is Start of Month", stocks.index.is_month_start)

In [ ]:
stocks

In [ ]:
stocks["Is Start of Month"]

In [ ]:
stocks[stocks["Is Start of Month"]].head()

# The `.truncate()` Method

In [ ]:
stocks = data.DataReader(name = company, data_source = "yahoo", start = start, end = end)
stocks.head()

In [ ]:
stocks.truncate(before = "2011-02-05", after = "2011-02-28")

# `pd.DateOffset` Objects

In [ ]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo", start = "2000-01-01", end = "2020-04-09")
stocks.head()

In [ ]:
stocks.index

In [ ]:
stocks.index + pd.DateOffset(days = 5)

In [ ]:
stocks.index + pd.DateOffset(weeks = 2)

In [ ]:
stocks.index - pd.DateOffset(months = 2)

In [ ]:
stocks.index + pd.DateOffset(years = 1)

In [ ]:
stocks.index + pd.DateOffset(hours = 6)

In [ ]:
stocks.index + pd.DateOffset(years = 1, months = 3, days = 10)

# More Fund with `pd.DateOffset` Objects

In [ ]:
stocks = data.DataReader(name = "GOOG", data_source = "yahoo", start = "2000-01-01", end = "2020-04-09")
stocks.head()

In [ ]:
stocks.index + pd.tseries.offsets.MonthEnd()

In [ ]:
from pandas.tseries.offsets import *

In [ ]:
stocks.index + MonthEnd()
stocks.index - MonthEnd()
stocks.index + BMonthEnd()
stocks.index + QuarterEnd()
stocks.index + QuarterBegin()

# The `Timedelta` Object

* delta = change over time
* timedelta = span or duration of time

In [ ]:
timeA = pd.Timestamp("2016-03-31")
timeB = pd.Timestamp("2016-03-20")

In [ ]:
timeA - timeB

In [ ]:
timeA = pd.Timestamp("2016-03-31 04:35:16 PM")
timeB = pd.Timestamp("2016-03-20 02:16:49 AM")

In [ ]:
timeA - timeB

In [ ]:
timeB - timeA

In [ ]:
type(timeA)

In [ ]:
type(timeA - timeB)

In [ ]:
# years doesn't work, multiple the days. 
pd.Timedelta(days = 3, minutes = 45, weeks = 8, hours = 12)

In [ ]:
# weeks doesn't work this way. 
pd.Timedelta("14 days 6 hours 5 minutes")

# `Timedeltas` in a Dataset

* dates like "5/24/98" aren't recognized as dates
* pandas dates show like 1998-05-24

In [ ]:
shipping = pd.read_csv("ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])
shipping.head()

In [ ]:
shipping["delivery_date"] - shipping["order_date"]

In [ ]:
shipping["Delivery Time"] = shipping["delivery_date"] - shipping["order_date"]
shipping.head()

## Add Timestamp and TimeDelta

In [ ]:
shipping["delivery_date"] + shipping["Delivery Time"]

In [ ]:
shipping["Twice as Long"] = shipping["delivery_date"] + shipping["Delivery Time"]
shipping.head()

In [ ]:
mask = shipping["Delivery Time"] > "1365 days"
shipping[mask]

In [ ]:
shipping["Delivery Time"].min()

In [ ]:
shipping["Delivery Time"].max()