In [ ]:
import pandas as pd

In [ ]:
chicago = pd.read_csv("chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.head()

In [ ]:
#store money/dollar sign as a string. 
chicago.info()

In [ ]:
chicago["Department"].nunique()

In [ ]:
chicago["Department"].count()

# Common String Methods - `.lower(), .upper(), .title()` and `.len()'

In [ ]:
chicago = pd.read_csv("chicago.csv")
chicago["Department"] = chicago["Department"].astype("category")
chicago.head()

In [ ]:
"HELLO WORD".lower()
"hello world".upper()
"hello world".title()

In [ ]:
#chicago["Name"].title() # ERROR
chicago["Name"].str.lower()
chicago["Name"].str.lower().str.upper()

In [ ]:
chicago["Name"].str.title()

In [ ]:
chicago["Position Title"] = chicago["Position Title"].str.title()
chicago.head()

In [ ]:
chicago["Department"].str.len()

# The `.str.replace()` Method

In [ ]:
chicago = pd.read_csv("chicago.csv").dropna(how = "all")
chicago["Department"] = chicago["Department"].astype("category")
chicago.tail()

In [ ]:
"Hellow World".replace("l","!")

In [ ]:
chicago["Department"] = chicago["Department"].str.replace("MGMNT", "MANAGEMENT")
chicago.head()

In [ ]:
chicago["Employee Annual Salary"] = chicago["Employee Annual Salary"].str.replace("$","").astype(float)

In [ ]:
chicago["Employee Annual Salary"].sum()
chicago["Employee Annual Salary"].mean()
chicago["Employee Annual Salary"].nlargest(10)

# Filtering with String Methods

In [ ]:
chicago = pd.read_csv("chicago.csv").dropna(how = "all")
chicago["Department"] = chicago["Department"].astype("category")
chicago.tail()

In [ ]:
#find titles with 'water' in it
#good to normalize the case of data before changing. case sensitive
mask = chicago["Position Title"].str.lower().str.contains("water")
chicago[mask]

In [ ]:
chicago[chicago["Position Title"].str.lower().str.startswith("water")]

In [ ]:
chicago[chicago["Position Title"].str.lower().str.endswith("ist")]

# More string Methods - `strip, lstrip, and rstrip`

In [ ]:
chicago = pd.read_csv("chicago.csv").dropna(how = "all")
chicago["Department"] = chicago["Department"].astype("category")
chicago.tail()

In [ ]:
"    Hellow World".strip()
"    Hellow World ".lstrip()
"    Hellow World ".rstrip()

In [ ]:
chicago["Name"] = chicago["Name"].str.lstrip().str.lstrip()

In [ ]:
chicago["Position Title"] = chicago["Position Title"].str.strip()

# String Methods on Index and Columns

In [ ]:
chicago = pd.read_csv("chicago.csv", index_col = "Name").dropna(how = "all")
chicago["Department"] = chicago["Department"].astype("category")
chicago.tail()

In [ ]:
chicago.index = chicago.index.str.strip().str.title()

In [ ]:
chicago.head()

In [ ]:
chicago.columns = chicago.columns.str.upper()

In [ ]:
chicago.head()

# Split Strings by Characters with `.str.spli()` Method

In [ ]:
chicago = pd.read_csv("chicago.csv").dropna(how = "all")
chicago["Department"] = chicago["Department"].astype("category")
chicago.tail()

In [ ]:
"Hello my name is Boris".split(" ")

In [ ]:
chicago["Name"].str.title().str.split(",").str.get(0)

In [ ]:
# get 0 column index
chicago["Name"].str.title().str.split(",").str.get(0)
chicago["Name"].str.title().str.split(",").str.get(0).value_counts() #number of each name

In [ ]:
chicago["Position Title"].str.split(" ").str.get(0).value_counts()

# More Practice with Splits

In [ ]:
chicago = pd.read_csv("chicago.csv").dropna(how = "all")
chicago["Department"] = chicago["Department"].astype("category")
chicago.tail()

In [ ]:
# challenge: most common first name
chicago["Name"].str.split(",").str.get(1).str.split(" ") # issue with extra spaces. 
chicago["Name"].str.split(",").str.get(1).str.strip().str.split(" ").str.get(2)
chicago["Name"].str.split(",").str.get(1).str.strip().str.split(" ").str.get(0).value_counts()

# The `expand` and `n` Parameters of the `str.split()` Method

In [ ]:
chicago = pd.read_csv("chicago.csv").dropna(how = "all")
chicago["Department"] = chicago["Department"].astype("category")
chicago.tail()

In [ ]:
chicago["Name"].str.split(",")

In [ ]:
# get data frame instead of series.
chicago["Name"].str.split(",", expand = True)

In [ ]:
# add data frame to data frame
chicago[["First Name","Last Name"]] = chicago["Name"].str.split(",", expand = True)

In [ ]:
chicago.head()

In [ ]:
# example with more splits. 
chicago["Position Title"].str.split(" ", expand = True)

In [ ]:
# limit results with n, remaining goin into the 2nd column. 
chicago["Position Title"].str.split(" ", expand = True, n = 1)

In [ ]:
chicago[["Frist Title Word", "Remaining Words"]] = chicago["Position Title"].str.split(" ", expand = True, n = 1)
chicago.head()